<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/public/style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/app.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
	<title>Mongo Scraper</title>
</head>

<body>
	{{{ body }}}

	<!-- Modal Structure -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			{{modal}}
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$('.modal').modal();
		});

	</script>
</body>

</html>