<h1>The Onion Articles!!</h1>

<!-- Pass in data from server.js -->
<div class="row">
  <div class="col s12 m6">
    {{#each articles}}
    <div class="card medium blue-grey darken-1">
      <div class="card-image">
        <img src="{{this.picture}}">
      </div>
      <div class="card-content white-text">
        <p><span class="label title">Title: </span> {{this.title}}</p>
      </div>
      <div class="card-action">
        <a class="link" href="{{this.link}}">Go To Article</a>
        <button class="save-button">Save Article</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>