<!-- Pass in data from server.js -->
<div class="row">
    <div class="col s12 m6">
        <div class="card medium blue-grey darken-1">
            <div class="card-image">
                <img src="{{this.picture}}">
            </div>
            <div class="card-content white-text">
                <p><span class="label">Title: </span> {{this.title}}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
            <div class="card-action">
                <a href="{{this.link}}">Go To Article</a>
                <a class="save-button" href="!#">Save Article</a>
            </div>
        </div>
    </div>
</div>